{% extends "travello/base.html" %}
{% load static %}
{% static "images" as imgurl%}
{% block content %}
<div class='home_search_content' id="register">
<form action="" method="POST">
  {% csrf_token %}
  <div class="container">
    <h4>Login</h4>
    {% for message in messages %}
    {{ message }}<br>
    {% endfor %}
    <div class="row">
      <div class= "col-lg-6">Username : </div><div class= "col-lg-6"><input type="text" name="username" placeholder="username"></div>
      <div class= "col-lg-6">Password : </div><div class= "col-lg-6"><input type="password" name="password" placeholder="Password"></div>
      <div class= "col-lg-6"><input type="submit" value="Login"></div><br>
    </div>
  </div>
</form>
</div>
{% endblock %}
