{% extends "base.html" %}
{% load static %}
{% static "images" as imgurl%}
{% block content %}
<h4 class="col-6 tm-section-title">Login</h4>
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <form action="{% url 'accounts:login' %}" method="POST" class="tm-contact-form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="uname" class="form-label">Username</label>
                <input type="text" class="formcontrol" id="uname" name="username"/>
            </div>
            <div class="mb-3">
              <label for="pword" class="form-label">Password</label>
              <input type="password" class="formcontrol" id="pword" name="password"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button
        </div>
      </div>
    {% endblock %}
