{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Gallery -->

  <!-- gallery page 1 -->
  {% if product %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <figure class="tm-description-figure">
          <img src="{{ product.P_IMG.url }}" alt="Image" class="img-fluid" />
        </figure>
      </div>
      <div class="col-md-6">
          <h4 class="caption">{{ product.P_NAME }}</h4>
          <p class="tm-mb-45">{{ product.P_DESC }}</p>
          <div class="form-group col-md-4 gy-5">
          <form action = "/cart/add" method = "POST">
              {% csrf_token %}
                <div>
                   <input type="hidden" name="p_id" value="{{ product.P_ID }}"/>
                   <select class ='form-select' id = 'qty' name = 'qty'>
                       <option selected>Quantity</option>
                       {% for c in counter %}
                       <option value="{{ c }}">{{ c }}</option>
                       {% endfor %}
                   </select>
                </div>
                <div>
                    <button class="btn btn-primary col-md-6">ADD TO CART</button>
                    <button class="btn btn-primary col-md-6">BUY NOW</button>
                </div>
          </form>
          </div>
      </div>
    </div>
  {% else %}
  <div id="tm-gallery-page-pizza" class="tm-gallery-page">
    Product not found
  </div>
  {% endif %}
  </div>
{% endblock %}
