{% extends "base.html" %}
{% load static %}
{% block content %}

{% if products %}
  {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 p_holder">
      <p class="thumbnail">
        <a href="{% url 'product:detail' product.P_SLUG %}"><img class='p_img mx-auto d-block' src='{{ product.P_IMG.url }}'/></a>
      </p>
      <p class='p_name'>
        {{ product.P_NAME }}
      </p>
      <p class='p_price'>
        Rs. {{ product.P_PRICE }}
      </p>
    </div>
  {% endfor %}
{% else %}
   No products available
{% endif %}

{% endblock %}
