{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Gallery -->
<div class="row tm-gallery">
  <!-- gallery page 1 -->
  <div id="tm-gallery-page-pizza" class="tm-gallery-page">
    {% if products %}
      {% for product in products %}
      <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
        <figure>
          <a href = '{% url 'product:detail' product.P_SLUG %}'>
            <img src="{{ product.P_IMG.url }}" alt="Image" class="img-fluid tm-gallery-img" href='{{ product.P_SLUG }}'  />
          </a>
          <figcaption>
            <h4 class="tm-gallery-title"><a href = '{% url 'product:detail' product.P_SLUG %}'>{{ product.P_NAME }}</a></h4>
            <p class="tm-gallery-description">{{ product.P_DESC }}</p>
            <p class="tm-gallery-price">Rs. {{ product.P_PRICE }}</p>
          </figcaption>
        </figure>
      </article>
      {% endfor %}
    {% else %}
      No products available
    {% endif %}
    </div>
</div>
{% endblock %}
